*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html, body{
    display: grid;
    height: 100vh;
    place-items: center;
    background: lightgrey;
}
/* this section below is for the form container */
.form-container{
    width: 340px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    height: 600px;
    background: #ffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #183153;
}
/* this section is for the form content */
form{
    margin-top: 30px;
    display: flex;
}
/* form details */
.input-cnt input{
    outline:none;
    width: 150px;
    height: 30px;
    /* padding-left: 20px; */
    border:1px solid #183153;
    border-radius: 5px;
}
#input-cnt.icons{
    width: 200px;
    height:30px;
    display: flex;
    background-color: blue;
}
p{
    color: #183153;
    text-align: center;

}
/* this section below is for the emoji */
.div{
    display: flex;
    justify-content: center;
    color: gold;
    font-size: 40px;
    width: 40px;
    height: 40px;
    /* margin-left: 120px; */
    border-radius: 40px;
    background-color: #183153;
    align-items: center;
    /* margin-top: 20px; */
}
/* this section is for below the form before sign in button */
#flex{
    margin-top: 30px;
    /* padding-top: 50px; */
    display: flex;
    justify-content: space-between;
}
.checkbox{
    display: flex;
    gap: 10px;
    align-items: center;
    color: #183153;
    font-size: small;
}
.forgot{
    font-size: small;
}
/* this section is for sign in button */
.btn > button{
    background-color: gold;
    cursor: pointer;
    transition: .2s;
    box-shadow: 0 5px 7px ;
    width: 100%;
    height: 45px;
    border-radius: 5px;
    color: #183153;
    font-weight: bolder;
    /* margin-top: 85px; */
    /* margin-bottom: 20px;     */
}
.btn > button:hover{
    background-color: #183153;
    color: gold;
}
.btn i{
    color: #183153;
}
.btn i:hover{
    color: gold; 
    
}

